<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @score] do |f| %>
      <%= render "shared/error_messages", object: @score %>

      <%= f.label :home_score, class: "col-md-4 control-label" %>
      <%= f.text_field :home_score, class: "form-control" %>

      <%= f.label :away_score, class: "col-md-4 control-label" %>
      <%= f.text_field :away_score, class: "form-control" %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
